parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: trait.unused
        -
            identifier: arrayValues.list
        -
            identifier: varTag.nativeType
    level: 7
